
.nav{
    background-image: url('./images/cocktails.jpeg');
    background-position: center;
    background-size: cover;
    background-position-x: 1px;
    background-repeat: no-repeat;
    padding: 30px;
    width: 1400px;
    height: 650px;
    border: 5px solid rgba(41, 23, 6, 0.533) ;
    margin-bottom: 200px;

}

.navContainer{
    display: flex;
    background-color: white;

}

#recipes{
    margin-left: 640px;
    margin-bottom: 50px;
    color: rgba(41, 23, 6, 0.84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: lighter;
    text-decoration: underline;
}

.cheers{
    color: rgba(41, 23, 6, 0.84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: lighter;
    margin-left: 30px;
}

.recipe{
    color: rgba(41, 23, 6, 0.84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: lighter;
    text-decoration: underline;
}

#search{
margin-left: 720px;
margin-top: 30px;
height: 45px;
width: 300px;
border: 1px solid rgba(118, 117, 117, 0.805);
box-shadow: 0 1.5px 0 1.5px rgba(17, 17, 17, 0.461);
background-color: white;
margin-bottom: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

#searchBtn{
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    height: 50px;
    width: 80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(106, 89, 77, 0.653);
    border: 1px solid rgba(0, 0, 0, 0.325);
    box-shadow: 1px 1px 1px 1px  rgba(17, 17, 17, 0.461);
    margin-bottom: 5px;
}

 #searchBtn:hover{
    border: 1px solid rgba(0, 0, 0, 0.349);
    cursor: pointer;
    background-color: rgba(41, 23, 6, 0.84);
  
}

.singleDrink{
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;

}

.options{
    list-style-type: none;
}

.learn{
    z-index: 9;
    color: rgb(34, 66, 34);
    text-decoration: underline;
    font-size: 20px;
    opacity: 0;
    pointer-events: auto;
    transition: opacity 0.3s ease;

}

.details {
    margin-top: 100px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 60px;
}


.drinkName{
    position: absolute;
    font-size: 25px;
    left: 6%;
    bottom: 0;
    text-decoration: none;  
    color: rgb(66, 45, 7); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    width: 357px;
    padding: 20px;
    padding-top: 25px;
    border: 3px solid rgba(45, 28, 8, 0.88) ;
    border-radius: 5px;
}

.drinkName:hover{
    text-decoration: underline;   

}

.drinkImg:hover .drinkName{
    text-decoration: underline;   

}

.drinkImg{
    position: relative;
    height: 400px;
    width: 400px;
    border: 3px solid rgba(45, 28, 8, 0.88) ;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.622);
    text-align: center;
    margin: 25px;
    margin-bottom: 50px;
    pointer-events: auto;
    z-index: 1;

}



.text{
    position: relative;

}

.save{
    position: absolute;
    border: none;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 40px;
    left: 80%;
    top: 25%;
    background-color: transparent;
    border-bottom: 2px solid black;
    
}

.save:hover{
    border-bottom: none;
}

.inst{
    margin: 0 auto;
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}


.ing{
    width: 400px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

#detailNav{
background-color:rgba(83, 53, 25, 0.84);
width: 1345px;
padding: 40px;
}

.detailcheers{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    font-weight: lighter;
    margin-left: 30px;
    text-decoration: none;
}

.detailcheers:hover{
    text-decoration: underline;

}

.detailsName{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    text-decoration: underline;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    text-decoration: underline;
}

.options{
    margin-top: 100px;
    margin-left: 16px;
}

.body{
    background-color: rgb(237, 230, 221);
}
